<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="Stylesheet" href="../../node_modules/xterm/css/xterm.css">
    <style>
      html, body{
        font-family: 'Arial';
        font-size: 13px;
        font-weight: 400;
      }
    </style>
  </head>
  <body>
    <h1 id="welcome">Welcome to the R GUI MainApp</h1>
    <div class="terminal">
       <div id="xterm"></div>
    </div>
    
    <!-- We are using node <script>document.write(process.versions.node)</script>, -->
    <!-- Chrome <script>document.write(process.versions.chrome)</script>, -->
    <!-- and Electron <script>document.write(process.versions.electron)</script>. -->
    <script src="./mainInterface.js"></script>
  </body>
</html>