<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script>window.Raphael = require('raphael');</script>
    <script src="./settingsInterface.js"></script>
    <style>
        html, body{
            font-family: 'Arial';
            font-size: 13px;
            font-weight: 400;
            margin: 0px;
            padding: 0px;
        }
        #paperSettings{
            display: flex;
            align-content: center;
            align-items: center;
            flex-direction: column;
        }
        rect{
            shape-rendering: crispEdges;
        }
        circle, path { 
            shape-rendering: geometricPrecision;
        }
    </style>
</head>
<body>
    <div id="paperSettings"></div>
    <!-- <div class="container">
        <div class="settings">
            <div class="selectAppLanguage">
                <label for="defaultLanguage">Language</label>
                <select name="defaultLanguage" id="defaultLanguage"></select>
            </div>
        </div>
        <div class="buttons">
            <p>Please restart app after changing the settings.</p>
            <button id="saveSettings">Save</button>
            <button id="cancelSettings">Cancel</button>
        </div>
    </div> -->
</body>
</html>